-i https://pypi.org/simple
# core
requests
boto3
botocore

# ML (usklađeno s backendom)
ultralytics==8.3.204
opencv-python-headless
numpy
scipy

# PyTorch CPU (BEZ +cpu sufiksa; CPU wheel dolazi s extra indexa iz Dockerfile-a)
torch==2.4.1
torchvision==0.19.1
